version: "{{ compose_version }}"

services:
  sonarr:
    image: {{ sonarr_image }}
    container_name: sonarr
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    volumes:
      - {{ sonarr_config_dir }}:/config # config files
      - {{ tv_dir }}:/tv # tv shows folder
    ports:
      - {{ sonarr_port }}:8989
    restart: unless-stopped
