version: "3.8"

services:
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    user: {{ puid }}:{{ pgid }}
    ports:
      - {{ grafana_port }}:3000
    volumes:
      - "{{ grafana_config_dir }}:/etc/grafana"
      - "{{ grafana_data_dir }}:/var/lib/grafana"
    restart: unless-stopped
