version: "{{ compose_version }}"

services:
  homer:
    image: {{ homer_image }}
    container_name: {{ homer_container_name }}
    volumes:
      - {{ homer_config_dir }}:/www/assets
    ports:
      - {{ homer_port }}:8080
    user: {{ puid }}:{{ pgid }}
    environment:
      - INIT_ASSETS=1 # default
    restart: unless-stopped
