---
version: "{{ compose_version }}"
services:
  unifi-db:
    image: {{ mongo_image}}
    container_name: unifi-db
    volumes:
      - ./data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    restart: unless-stopped

  unifi-network-application:
    image: {{ unifi_image }}
    container_name: unifi
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
      - MONGO_USER={{ mongo_user }}
      - MONGO_PASS={{ mongo_pass }}
      - MONGO_HOST=unifi-db
      - MONGO_PORT=27017
      - MONGO_DBNAME=unifi
    # - MEM_LIMIT=1024 #optional
    # - MEM_STARTUP=1024 #optional
    # - MONGO_TLS= #optional
    # - MONGO_AUTHSOURCE= #optional
    volumes:
      - {{ unifi_config_dir }}:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
    # - 1900:1900/udp #optional
    # - 8843:8843 #optional
    # - 8880:8880 #optional
    # - 6789:6789 #optional
    # - 5514:5514/udp #optional
    restart: unless-stopped
