version: "3.8"

services:  
  plex:
    image: {{ plex_image }}
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim }}
    volumes:
      - {{ plex_config_dir }}:/config
      - {{ plex_tv_dir }}:/tv
      - {{ plex_movies_dir }}:/movies
      - {{ plex_music_dir }}:/music
      - {{ plex_animations_dir }}:/animations
      - {{ plex_fitness_dir }}:/fitness
    #ports:
    #  - 32400:32400
    restart: unless-stopped
