version: "{{ compose_version }}"

services:  
  plex:
    image: {{ plex_image }}
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim }}
    volumes:
      - {{ plex_config_dir }}:/config
      - {{ tv_dir }}:/tv
      - {{ movies_dir }}:/movies
      - {{ music_dir }}:/music
      - {{ animations_dir }}:/animations
    #ports:
    #  - 32400:32400
    restart: unless-stopped
