version: "{{ compose_version }}"

services:
  portainer:
    image: {{ portainer_image }}
    container_name: portainer
    ports:
      - {{ portainer_port }}:9443
    volumes:
      - {{ portainer_config_dir }}:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
volumes:
  data:
