version: '3.7'

services:
  wireguard:
    image: {{ wireguard_image }}
    container_name: wireguard
    network_mode: bridge
    volumes:
      - '{{ wireguard_config_dir }}:/config'
      - '/lib/modules:/lib/modules:ro'
    ports:
      - 8112:8112
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
