[Unit]
Description=Node-exporter
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n

ExecStart=/usr/bin/docker run \
    --name %n \
    --mount=type=bind,source=/,destination=/host,ro,bind-propagation=rslave \
    --mount=type=volume,target=/node-exporter \
    --publish={{ node_exporter_port }}:9100 \
    {{ node_exporter_docker_image }} \
    --path.rootfs=/host

ExecStop=/usr/bin/docker stop %n
SyslogIdentifier=%n
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
