version: "{{ compose_version }}"

services:
  homebox:
    image: {{ homebox_image }}
    container_name: homebox
    environment:
    - HBOX_LOG_LEVEL=info
    - HBOX_LOG_FORMAT=text
    - HBOX_WEB_MAX_UPLOAD_SIZE=10
    volumes:
      - {{ homebox_config_dir }}:/data/
    ports:
      - {{ homebox_port }}:7745
    restart: unless-stopped
