{{ ansible_managed | comment }}

[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart={{ prometheus_binary_install_dir }}/prometheus \
    --config.file={{ prometheus_config_dir }}/prometheus.yml \
    --storage.tsdb.path={{ prometheus_data_dir }} \

SyslogIdentifier=prometheus
Restart=on-failure

[Install]
WantedBy=multi-user.target
